$indigo: #8b8be8;
$gray: #959292;
$gray2: #303030;

$line1: #0052A4;
$line2: #00A84D;
$line3: #EF7C1C;
$line4: #00A5DE;
$line5: #996CAC;
$line6: #CD7C2F;
$line7: #747F00;
$line8: #E6186C;
$line9: #BB8336;

$lineD1:#D4003B;
$lineA1:#0090D2;
$lineE1:#6FB245;
$lineG1:#A17800;
$lineI1:#7CA8D5;
$lineI2:#ED8B00;
$lineK1:#F5A200;
$lineK2:#0C8E72;
$lineK4:#77C4A3;
$lineK5:#003DA5;
$lineL1:#6789CA;
$lineWS:#81A914;
$lineUI:#B0CE18;
$lineU1:#FDA600;