* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.layout {
    height: 100%;
}

.inner {
    height: 100%;
    _padding: 20px;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.btn {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    min-height: 32px;
    text-align: left;
    cursor: pointer;
}