.subway_box {
  .subway_box_inner {

    .main {
      .ttl {
        display: block;
        font-size: 15px;
      }

      .trainNo {
        display: block;
        font-size: 12px;
      }

      .icon {
        display: block;
      }
    }

    .desc {
      span {
        font-size: 13px;
      }
    }
  }
}

:global(.dark) .icon path {
  color: inherit;
}