.header {
  padding: 20px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: #333;

    &:hover {
      color: #333;
    }
  }

  .util_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
  }
}